.input-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 15px;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/drwe3lgdh/image/upload/v1671278101/pexels-tirachard-kumtanom-733857_1_civz04.jpg');
  background-size: cover;
}
.submit-container {
  box-shadow: 2px 2px 2px 1px rgba(120, 223, 126, 0.664);
  padding: 12px;
  background-color: #ffffff;
  margin-right: 12px;
}
.button {
  color: #ffffff;
  background-color: #1c55e6;
  text-align: center;
  border: none;
  outline: none;
  align-self: center;
  height: 35px;
  width: 70px;
  border-radius: 7px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
